.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

.icon {
  width: 40px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-dark);
}
